<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Forms Submission</h1>
    <form action="" id="form">
        <label for="name">name</label><br>
        <input type="text" id="name"><br>
        <label for="email">email</label><br>
        <input type="text" id="email"><br>
        <label for="messages">messages</label><br>
        <textarea name="" id=""></textarea><br>
        <button type="submit">submit</button>
    </form>
    <script src="static/script.js"></script>
</body>
</html>